*{
    margin: 0px;
    padding: 0px;
}
main{
    width: 100%;
    height: 100%;
    background:url(../background.jpg);
    background-size: 100% 100%;
    position: relative;
}
.introductionImg{
    position: absolute;
    left: 12%;
    bottom: 20%;
    font-size: 12pt;
    color: rgba(255, 255, 255, 0.6);
}
.introductionImg a{
    font-size: 12pt;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.introductionImg a:hover{
    color: #fff;
}
.showTime{
    width:80%;
    height: 20%;
    position: absolute;
    top: 15%;
    padding: 0px 10%;
}
.showTime *{
    z-index: inherit;
}
.showTime div{
    width: 18%;
    height: 100%;
    float:left;
    font-size: 12pt;
    color:#fff;
    font-family:"微软雅黑";
    font-weight:lighter;
}
#nowTime{
    width: 24%;
    padding-left: 4%;
    font-size: 65pt;
    overflow:hidden;
    text-align:right;
}
.description{
    height: 20%;
}
.data{
    height: 60%;
    margin-top: 16%;
    font-size: 18pt;
    color:rgb(255, 155, 45);
}
#dayUse .data{
    height: 70%;
    margin-top: 10%;
    font-size: 30pt;
    color: #fff;
}
#yearUse .data{
    color:rgb(255, 50, 45);
}
#totleUse .data{
    color:rgb(185, 50, 145);
}
.data sub{
    font-size:12pt;
}
.Exit{
    font-family:"微软雅黑";
    position: absolute;
    font-weight:lighter;
    right: 7%;
    bottom: 20%;
    width: 20%;
    color:white;
}
.Exit p{
    height: 35pt;
}
input[type="number"]{
    background-color:rgba(0,0,0,0.5);
    border:none;
    color:white;
    width: 30pt;
    height: 18pt;
    font-size:13pt;
    text-align: center;
    border-bottom:solid 2px gray;
}
input[type="button"]{
    width: 50pt;
    height: 60%;
}
.defaultExit{
    right: 40%;
}
.introductionImg img, .introductionImg .label{
    display:block;
    width:18pt;
    height:18pt;
    float:right;
}
#bg-setting{
    position:relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
#bg-setting:before{
    content:"";
    display:table;
}
#bg-setting>.setting:before{
    content:"";
    display:table;
}
#bg-setting>.setting{
    width: 40%;
    background-color:white;
    margin: 10% auto 0px auto;
    height: 60%;
    overflow:auto;
    position: relative;
}
#bg-setting .Exit{
    position: static;
    width: 60%;
    margin: 10% auto 0px auto;
    color:black;
}
#bg-setting input[type="number"]{
    background-color:white;
    color:black;
}
.exitSetting{
    position:absolute;
    font-size: 30pt;
    font-weight: bold;
    right: 10pt;
    top: 10pt;
    cursor: pointer;
}
.hidder{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -2;
    display:none;
}